html, body {
  height: 100%;
}

body {
	display: flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', arial, sans-serif;
	background-color: white;
	font-size: 18px;
	line-height: 1.35;
}

.content {
  flex: 1 0 auto;
}

a {
	color: #54a8c4;
	text-decoration: none;
}
a:hover, 
a:active,
a:focus {
	text-decoration: underline;
}

p {
	margin: 0.25em 0;
}

button, input[type="submit"] {
	background: white;
	border: 2px solid #278aab;
	font-size: 1em;
	color: #278aab;
	padding: 0.4em 1em;
	border-radius: 0.5em;
}

input[type="text"],
input[type="password"] {
	padding: 0.4em 0.5em;
	border-radius: 0.5em;
	border-color: rgba(0,0,0,0.35);
	border-width: 1px;
}

label {
	display: block;
}

.form-group {
	display: inline-block;
}

figure {
	margin: 0;
}

/* .as {
	font-size: 14px;
	color: #900;
} */
/* .cs {
	color: #009;
	font-size: 14px;
} */

.as a {
	color: #444;
	text-decoration: none;
	padding: 0 .15em;
	font-size: 0.94444444444em;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(180,231,248,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(180,231,248,1);
	box-shadow: inset 0px -2px 0px 0px rgba(180,231,248,1);
	transition: all 200ms ease;
}

.as a:hover,
.as a:active {
	background-color: #b4e7f8;
	color: #111;
	border-radius: 0.25em;
}

.ts {
	font-weight: bold;
	font-size: 1.25em;
	margin: 0 0 0.25em 0;
}
/* .as a:link{ text-decoration: none; color: #900; }
.as a:visited{ text-decoration: none; color: #900; }
.as a:hover{ text-decoration: underline; color: #F00; }
.as a:active{ text-decoration: none; color: #900; } */

.ts a:link{text-decoration: none; color: #333; }
.ts a:visited{ text-decoration: none; color: #333; }
.ts a:hover{ text-decoration: none; color: #000; }
.ts a:active{ text-decoration: none; color: #333; }

.cs{
	display: inline-block;
	margin-top: 0;
}
.cs a{
	color: #666;
	padding: .1em;
	font-size: .7em;
	text-decoration: none;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0 0.5em 0 0;
	border-radius: 0.25em;
	transition: all 200ms ease;
}

.cs a:last-child {
	margin-right: 0;
}

.cs a:before{
	content: "#";
	display: inline-block;
	color: #6dbcd6;
	transition: all 200ms ease;
}

.cs a:hover:before,
.cs a:active:before{
	color: #278aab;
}
.cs a:link{  }
.cs a:visited{ }
.cs a:hover,
.cs a:active{ color: #333; background-color: #b4e7f8;}
.ds, .ds2 {
	color: #444;
	font-size: 0.944444444em;
}
.ccs {
	color: #000;
	font-size: 12px;
}
.tt {
	background-color: #f2f8f9;
	line-height: 1.5;
	padding: 1.5em;
	display: block;
}
@media screen and (min-width: 1400px) {
	.tt {
		font-size: 0.888888888888em;
	}
}

.tt:before{
	content:"Abstract";
	display: block;
	color: #666;
	font-size: 0.8em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
/* .spid {
	font-size: 14px;
	margin-right: 5px;
	color: #555;
} */

/***********
HEADER
***********/

h1 {
	font-size: 2.666666666666666667em;
	line-height: 1;
	padding: 0;
	margin: 0 0 0.35em 0;
	text-shadow: 0 1px 0 #b79cad, 
               0 2px 0 #ae93a4,
               0 3px 0 #aa8fa0,
               0 4px 0 #a68a9b,
               0 5px 0 #9e8393,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h1 small {
	display: block;
	font-weight: 300;
	font-size: 0.33333333333333em;
	padding: 0.5em 0.5em 0 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-shadow: none;
	margin-top: 0.5em;
	line-height: 1.35;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

h1 a {
	text-decoration: none;
	color: white;
	font-weight: 700;
}

h1 a:hover,
h1 a:active,
h1 a:focus {
	text-decoration: none;
}

.user-pills a,
.user-login {
	font-size: 0.77777777777em;
}

.user-links a,
.user-pills a {
	color: white;
	text-decoration: none;
	font-weight: 300;
	transition: all 200ms ease;
	margin: 0 0.25em;
}

@media screen and (min-width: 768px) {
	.user-links a:last-child,
	.user-pills a:last-child{
		margin-right: 0;
	}	

	.user-pills {
		margin-top: 7px;
	}
}

@media screen and (min-width: 1024px) {
	.user-links a {
		margin: 0 1em;
	}
}


.user-links a:hover,
.user-links a:active,
.user-links a:focus {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.35);
	box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.35);
}

.user-links a.tab-selected {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(255,255,255,1);
	box-shadow: 0px 2px 0px 0px rgba(255,255,255,1);
}

.user-links {
	margin-top: 1em;
}

.user-login {
	font-weight: 300;
}

.user-login label {
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

.user-login input[type="text"],
.user-login input[type="password"]{
	font-size: 1em;
	background-color: rgba(155,155,155, 0.3);
	border: none;
	transition: all 200ms ease;
	margin: 0.35em 0 0.65em;
	-webkit-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2), 0px 2px 0px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2), 0px 2px 0px 0px rgba(255,255,255,0.2);
	box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.2), 0px 2px 0px 0px rgba(255,255,255,0.2);
	color: white;
}

.user-login input[type="text"]:hover,
.user-login input[type="password"]:hover {
	-webkit-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.3), 0px 2px 0px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.3), 0px 2px 0px 0px rgba(255,255,255,0.3);
	box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.3), 0px 2px 0px 0px rgba(255,255,255,0.3);
}

.user-login input[type="text"]:focus,
.user-login input[type="text"]:active,
.user-login input[type="password"]:focus,
.user-login input[type="password"]:active {
	background-color: white;
	color: black;
}

.user-pills a,
.user-login input[type="submit"] {
	border-radius: 0.5em;
	border: 2px solid rgba(255,255,255,0.5);
	padding: 0.5em 1em;
	color: white;
	display: inline-block;
	background: transparent;
	transition: all 200ms ease;
	line-height: 1;
	font-weight: 400;
}

.user-pills a:hover,
.user-pills a:active,
.user-pills a:focus,
.user-login input[type="submit"]:hover,
.user-login input[type="submit"]:focus,
.user-login input[type="submit"]:active {
	border-color: rgba(255,255,255,1);
}

.user-pills a img {
	height: 16px;
}

@media screen and (min-width: 768px) {
	.user-links, 
	.user-pills {
		text-align: right;
		white-space: nowrap;
	}

	.user-login {
		white-space: nowrap;
	}
	.user-login input[type="submit"] {
		display: block;
	}
}

header, footer {
	background: #c2137c;
	background: linear-gradient(58deg, rgba(194,19,124,1) 0%, rgba(198,0,0,1) 100%);
	color: white;
	padding: 1em;
	text-align: center;
}

@media screen and (min-width: 768px) {
	header, footer {
		text-align: left;
		display: flex;
		justify-content: space-between;
	}
}

footer {
	flex-shrink: 0;
	font-size: 0.77777777777em;
}

#maindiv {
	padding: 1em;
	background-color: #F7F7F7;
}

article {
	background-color: white;
	position: relative;
	width: calc(100% - 5em);
	margin: 0.5em 0;
	font-size: 0.77777777777em;
	padding: 3em 2em 2em 2em;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.05);
	/* Clip the top right corner of the paper */
	-webkit-clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 110% 110%, -10% 110%, -10% -10%);
	clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 110% 110%, -10% 110%, -10% -10%);
}

@media screen and (min-width: 900px){
	article {
		width: calc(50% - 5em);
	}
}

@media screen and (min-width: 1500px){
	article {
		width: calc(33.333333333% - 5em);
		font-size: 0.88888888888em;
	}
}

@media screen and (min-width: 2200px){
	article {
		width: calc(25% - 5em);
		font-size: 1em;
	}
}

/* .animg {
	text-align: left;
	height: 156px;
}*/ 

.animg img {
	width: 100%;
	margin: 0.25em 0;
}

.paperdesc {
	/* float: left; */
}

/* .dllinks {
	float: right;
	text-align: right;
} */

.w {
	color: #050;
	cursor: pointer;
	text-decoration: underline;
}
/*.sim {
	 cursor: pointer;
	text-decoration: underline;
	display: inline-block; 
}*/

/*
.rev {
	cursor: pointer;
	text-decoration: underline;
	display: block;
}*/

#qfield {
  width: calc(100% - 4.5em);
	margin: 0 1em;
  padding-left: 1.5em;
  background-image:url('/static/search.png');
	background-repeat:no-repeat;
	background-position:left center;
	background-size: 24px;
	font-size: 1em;
}

#sbox {
	text-align: center;
	flex-grow: 2;
}

.msg {
	background-color: #EEF;
	background: linear-gradient(58deg, rgba(188,49,142,0.1) 0%, rgba(198,0,0,0.1) 100%);
	padding: 10px;
	border-radius: 0.25em;
	margin-top: 2px;
	margin: 0;
	border: 1px solid rgba(188,49,142,0.2);
}
.paperdivider {
	background-color: #EEF;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCD;
	border-top: 1px solid #CCD;
	color: #005;
}
#search_hint {
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
}
#search_hint a {
	margin-right: 10px;
}
#search_hint a:link{ color: #777; }
#search_hint a:visited{ color: #777; }
#search_hint a:hover{ color: #777; }
#search_hint a:active{ color: #777; }

.btn-fancy {
	background-color: #FFF;
	border: none;
	padding: 4px;
	cursor: pointer;
}

footer a {
	text-decoration: none;
	color: white;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.35);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.35);
	box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.35);
}

footer a:hover,
footer a:active,
footer a:focus {
	text-decoration: none;
	color: white;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.65);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.65);
	box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,0.65);
}



.save-icon {
	background-color: white;
	background-image: url(/static/plus.svg);
	background-size: 40%;
	background-position: 4px 22px;
	background-repeat: no-repeat;
	padding: calc(24px - 2px);
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border-color: transparent;
	transition: all 200ms ease;
	border: 1px solid #e5e5e5;
	opacity: 0.7;
	border-radius: 0;
	-webkit-box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.08); 
	box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.08);
}

.save-icon.remove {
	background-image: url(/static/saved.svg);	
}

.save-icon:hover,
.save-icon:active {
	opacity: 1;
}

#flashesdiv {
	padding: 1em;
	background-color: #d8d8d8;
}

ul.flashes, 
ul.flashes li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.flashes li {
	background: #f2f8f9;
	border: 1px solid #6dbcd6;
	color: #278aab;
	padding: 10px;	
	border-radius: 0.25em;
}

.revarea {
	width: 100%;
	height:200px;
	margin-top: 10px;
	padding: 5px;
}
.revbut {
	margin-top:5px;
	width:100px;
	height:40px;
}
.areview {
	padding: 5px;
	margin: 5px;
	font-size: 14px;
}
.revuser {
	font-weight: bold;
	color: #080;
	margin-right: 10px;
	font-size: 16px;
}
.revtime {
	font-style: italic;
	color: #888;
}
.revtext {
	white-space: pre;
}

#pagebar {
	/* width: 970px; */
	padding: 10px 15px 0px 15px;
	margin: 0 auto;
	align-items: flex-end;
	background-color: #d8d8d8;
	display: flex;
}

.pagelink {
	display: inline-block;
}

.checkbx {
	padding:  0.8888em 1.25em;
	position: relative;
}

.checkbx input[type="checkbox"] {
	padding: 0;
	box-sizing: border-box;
	/* position: absolute; */
}

.checkbx label {
	font-size: 0.9444444444444em;
}

#pagebar a {
	display: inline-block;
	margin-right: 3px;
	font-size: 16px;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	padding:  0.8888em 1.25em;
	background-color: #e8e8e8;
	border-radius: 0.5em 0.5em 0 0;
	font-weight: 700;
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.05);
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.05);
	text-decoration: none;
	color: #555;
	transition: all 200ms ease;
}

#pagebar a:hover,
#pagebar a:active,
#pagebar a:focus {
	color: #000;
	background-color: #F7F7F7;
}

#pagebar a.tab-selected {
	background-color: #F7F7F7;
	color: #9a0061;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #AAA;
}

.centerdiv {
	/* width: 970px; */
	padding: 10px 15px 0px 15px;
	margin-left: auto;
	margin-right: auto;
	border-left: solid 1px #D6D3C5;
	border-right: solid 1px #D6D3C5;
}

#sys-messages {
	margin-bottom: 0.75em;
}
#recommend-time-choice {
	margin-bottom: 0.75em;
}

#recommend-time-choice a:link{ text-decoration: none; color: #338;}
#recommend-time-choice a:visited{ text-decoration: none; color: #338;}
#recommend-time-choice a:hover{ text-decoration: none; color: #338;}
#recommend-time-choice a:active{ text-decoration: none; color: #338;}
.timechoice {
	display: inline-block;
	background-color: #EEE;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
}
.timechoice-selected {
	background-color: #CCE;
}
.vchoice {
	display: inline-block;
	background-color: #EEE;
	padding: 10px;
	border-radius: 5px;
	margin-right: 5px;
}
.vchoice-selected {
	background-color: #CEC;
}

.fdivider {
	display: inline-block;
	background-color: #FFF;
	width: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
#banner {
	border: 1px solid #9C9;
	background-color: #DFD;
	/* width: 980px; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.twdiv {
	margin-top:2px;
}
.twimg {
	width: 36px;
	height: 36px;
	border: 2px solid #fff;
}
.twcont {
	background-color: #e8f6ff;
	border: 1px solid #e1e8ed;
	padding: 4px;
	font-size: 14px;
	display: none;
}
#loadmore {
	text-align: center;
}
#loadmorebtn {
	height:50px;
	width:200px;
	margin-top:20px;
	background-color: #fff;
}
.tweetcount {
	height: 26px;
	border: 2px solid #fff;
	background-color: #eee;
	display: inline-block;
	vertical-align: top;
	padding: 10px 4px 0px 4px;
	font-size: 14px;
}
/* comments-specific */
.cheader {
	background-color: #eee;
	padding: 5px;
	font-size: 12px;
}
.cuser {
	display: inline-block;
	color: #0000ad;
	margin-left: 5px;
}
.ctime {
	color: #2a9e3f;
	display: inline-block;
	margin-left: 10px;
}
.cver {
	color: #9e2a3f;
	display: inline-block;
	margin-left: 10px;
}
.cconf {
	color: #c316ea;
	display: inline-block;
	margin-left: 10px;
}
.ctext {
	background-color: #fff;
	border: 1px solid #eee;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
}
.ppbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.ctags {
	margin: -2px 0px 10px 0px;
	color: #555;
}
.ctag {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	margin: 0px 5px 0px 0px;
	background-color: #eee;
	cursor: pointer;
	font-size: 12px;
	border-radius: 0px 0px 3px 0px;
}
.ctag-count {
	display: inline-block;
	padding: 2px;
	background-color: #83ff00;
	font-size: 12px;
	border-radius: 0px 0px 0px 3px;
}
.ctag-count-zero {
	background-color: #ddd !important;
}
.ctag-active {
	background-color: #ff5050 !important;
}
.cerr {
	background-color: #fdd;
}
.caction {
	display:inline-block;
	float:right; 
	padding:2px;
}
.caction img {
	width: 20px;
	height: 20px;
}
.inlibsof {
  background-color: #ffc;
  padding: 2px;
  font-size: 14px;
}

#rtable {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	/* outline: 1px solid green; */
}

/* UTILS */

.links {
	font-size: 0.944444444em;
}

/* Hidden visually for screen readers
sourced https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
*/
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}