<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>About fairXiv.org</title>
<meta name="author" content="Laura Summers">
<meta  name="description" content="A friendlier arXiv.org UI hosting the latest Fairness/Ethics papers in Machine Learning, Computer Science & Data Science.">
<meta name="keywords" content="ML, AI, Machine Learning, Data Science, Artificial Intelligence, Fairness, Ethics, Ethical">
<meta name="robots" content="index,follow">

<!-- Facebook meta data -->
<meta property="og:image" content="https://fairxiv.org/static/ui.png">
<meta property="og:url" content="https://fairxiv.org/" />
<meta property="og:type" content="website">
<meta property="og:description" content="A friendlier arXiv.org UI hosting the latest Fairness/Ethics papers in Machine Learning, Computer Science & Data Science.">
<meta property="og:title" content="About fairXiv.org">

<!-- Twitter Metadata -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fairXiv">
<meta name="twitter:creator" content="@summerscope">
<meta name="twitter:title" content="About fairXiv.org">
<meta name="twitter:description" content="A friendlier arXiv.org UI hosting the latest Fairness/Ethics papers in Machine Learning, Computer Science & Data Science.">
<meta name="twitter:image" content="https://fairxiv.org/static/ui.png">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i&display=swap" rel="stylesheet">


<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

<!-- JS -->
<script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='as-common.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142283715-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142283715-1');
</script>

<script>
var username = "{{ g.user.username }}";
var followers = [];
var following = [];

var render_format = "{{ render_format }}";

function populateList(lstid, msg, lst) {

  var div = d3.select('#'+lstid);
  var n = lst.length;
  div.append('div').classed('userlst-title', true).html(n + msg);
  if(n === 0) {
    var fd = div.append('div').classed('user-li', true).html('None so far.');
    fd.classed('li-no-border', true);
  } else {
    for(var i=0;i<n;i++) {
      var f = lst[i];
      
      var fd = div.append('div').classed('user-li', true);
      if(f.active === 1){ fd.classed('li-active', true);
      } else { fd.classed('li-inactive', true); }

      var fdx = fd.append('div').classed('fdx', true).html('X');

      // attach event handler to X, to remove this user
      var jfd = $(fd.node());
      var jfdx = $(fdx.node());
      var request_data = { user:f.user, lst:lstid };
      jfdx.on('click', function(rootnode, jdict) {
        return function() {
          $.post("/removefollow", jdict).done(function(elt){
            return function(data){
              if(data === 'OK') { elt.slideUp('fast'); } // remove the element from the UI
            }
          }(rootnode));
        }
      }(jfd, request_data));

      // attach an event handler to OK, allow this user to follow me      
      if(lstid === 'followers' && f.active == 0) {
        var fdok = fd.append('div').classed('fdok', true).html('OK');
        var jfdok = $(fdok.node());
        var request_data = { user:f.user, lst:lstid };
        jfdok.on('click', function(rootnode, oknode, jdict) {
          return function() {
            $.post("/addfollow", jdict).done(function(elt, elt2){ // dont think closure in closure is necessary here, being lazy
              return function(data){
                if(data === 'OK') { 
                  // ok we can follow this user
                  elt.classed('li-active', true);
                  elt.classed('li-inactive', false);
                  elt2.remove(); // take out the OK button.
                }
              }
            }(rootnode, oknode));
          }
        }(fd, fdok, request_data));
      }

      // // attach an event handler to OK, allow this user to follow me
      // if(lstid === 'followers') {
      //   if(f.active === 1) {
      //     // people who follow us (display an X)
      //   } else {
      //     // people who asked to follow us (display an X and a OK)
      //   }
      // } else if(lstid === 'following') {
      //   if(f.active === 1) {
      //     // people who we follow (display an X)
      //   } else {
      //     // people who we asked to follow but they didnt confirom (display an X)
      //   }
      // }

      // attach the actual username of the person
      var fdu = fd.append('div').classed('fdu', true).html(f.user);

      if(i === n-1) { fd.classed('li-no-border', true); }
    }
  }
}

// when page loads...
$(document).ready(function(){
  if( render_format === 'about') { d3.select('#tababout').classed('tab-selected', true); }
  populateList('followers', ' followers:', followers);
  populateList('following', ' following:', following);
});

</script>
</head>

<body>

  <div class="content">
    <header>
      <!-- Site information/banner on top left -->
      <section>
        <h1>
          <a href="/">fairXiv</a>
          <small><span class="sr-only">Pronounced</span> <strong>fair</strong>&nbsp;&bull;&nbsp;kive</small>
        </h1>
        <!--cs.[CV|CL|LG|AI|NE]/stat.ML-->
        <form action="/search" method="get">
          <input name="q" type="text" id="qfield" placeholder="Search arXiv papers">
        </form>
        <!-- Todo: implement search hints 
          <div id="search_hint"></div> 
        -->
      </section>

      <!-- User account information on top right -->
      <section>
        <h1>
          <small role="definition">
            <img class="margin-r" height="14px" src="/static/megaphone.svg" />{{ totpapers }} latest Fairness/Ethics + ML/AI&nbsp;papers<img class="margin-l flip-h" height="14px" src="/static/megaphone.svg" />
          </small>
        </h1>
        {% if not g.user %}
        <form class="user-login" action="{{ url_for('login') }}" method="post">
          <div class="form-group">
            <label class="sr-only" for="userNm">User name</label> 
            <input placeholder="User name" type="text" id="userNm" name="username">
          </div>
          <div class="form-group">
            <label class="sr-only" for="passWd">Password</label> 
            <input placeholder="Password" type="password" name="password" id="passWd">
          </div>
          <input type="submit" value="Log in / Sign up" class="btn-fancy">
        </form>
        {% else %}
        <nav class="user-pills">
          <a href="{{ url_for('account') }}">
            {{ g.user.username }}
          </a>
          <a href="{{ url_for('logout') }}">
            Log out
          </a>
        </nav>
        {% endif %}
      </section>
    </header>

    {% with flashes = get_flashed_messages() %}
      {% if flashes %}
        <div id="flashesdiv">
          <ul class="flashes">
          {% for message in flashes %}
            <li role="alert">
              <div style="float:right;cursor:pointer;" id="xmessage">✖</div>
              {{ message }}
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <main id="maindiv">
      <div class="top9238">
        <div></div>
        <!-- User account information on top right -->
        <section>
          {% if not g.user %}
          <nav class="user-links">
            <a id="tababout" href="/about">About</a> 
            <a href="https://github.com/summerscope/fairXiv" target="_blank">Github</a>
          </nav>
          {% else %}
          <nav class="user-links">
            <a id="tabfriends" href="/friends">Friends</a>
            <!-- <a id="tabdiscussions" href="/discussions">Discussions</a> -->
            <a id="tabrec" href="/recommend">Recommended</a>
            <a id="tablib" href="/library">Library</a>
            <a id="tababout" href="/about">About</a>
            <a href="https://github.com/summerscope/fairXiv" target="_blank">Github</a>
          </nav>
          {% endif %}
        </section>
      </div>

      <section class="copy">
        <h2>About fairXiv</h2>
        <blockquote>A friendlier UI to tame the torrent of papers from arXiv</blockquote>
        <div class="flex">
          <figure>
            <img src="/static/gif-before.gif" width="300px" />
            <figcaption class="meme-caption">Before</figcaption>
          </figure>
          <figure>
            <img src="/static/gif-after.gif" width="300px" />
            <figcaption class="meme-caption">After</figcaption>
          </figure>
        </div>  

        <p>fairXiv attempts to:</p>
        <ol>
          <li>Filter the arXiv feed for papers related to ML fairness and ethics</li>
          <li>Provide a more usable and accessible UI for scanning arXiv papers</li>
        </ol>
        <h3>Paper query</h3>
        <p>The script searches for specific sub categories of computer science on arXiv, and then matches at least on of these terms:</p>

        <div class="column">
          <p>Categories</p>
          <ul>
            <li>cs.CV</li>
            <li>cs.AI</li>
            <li>cs.CL</li>
            <li>cs.CY</li>
            <li>cs.LG</li>
            <li>cs.NE</li>
            <li>stat.ML</li>
          </ul>
          <p>Terms</p>
          <ul>
            <li>fairness</li>
            <li>ethics</li>
            <li>ethical</li>
            <li>safety</li>
          </ul>
        </div>
        <h3><a href="https://github.com/summerscope/fairXiv" target="_blank">Fork fairXiv on github</a></h3>
        <p>Made with ❤️ by <a href="https://twitter.com/summerscope" target="_blank">@summerscope</a> and <a href="https://twitter.com/auastro" target="_blank">@auastro</a>.</p>
        <p>This project is a fork of <a href="http://www.arxiv-sanity.com/" target="_blank">Arxiv Sanity Preserver</a> by <a href="https://twitter.com/karpathy" target="_blank">@karpathy</a>.</p>

        <h3>Feedback &amp; Contributions</h3>
        <p>fairXiv is very much a work in progress! Bug reports, feedback and suggestions all welcome to <a href="mailto:summerscope@gmail.com">summerscope@gmail.com</a>.</p>
        <br />&nbsp;<br />
      </section>
    </main>
  </div>

  <footer>
    <p>A friendlier arXiv UI by <a href="https://twitter.com/summerscope" target="_blank">@summerscope</a> and <a href="https://twitter.com/auastro" target="_blank">@auastro</a></p>
    <p>A fork of <a href="http://www.arxiv-sanity.com/" target="_blank">Arxiv Sanity Preserver</a> by <a href="https://twitter.com/karpathy" target="_blank">@karpathy</a></p>
  </footer>

</body>

</html>
